.form {
  position: absolute;
  bottom: 200px;
  left: 75%;
  transform: translateX(-85%);
  width: 750px;
  height: 500px;
  z-index: 2;

  @media (max-width: 1650px) {
    bottom: 150px;
  }

  @media (max-width: 1150px) {
    bottom: 110px;
  }

  @media (max-width: 950px) {
    width: 80%;
    left: 0;
    padding: 0 10%;
    transform: none;
    transform: translateX(0);
  }

  .submitButton {
    margin-top: 25px;
  }
}