.navBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin: 15px;

    &.hidden {
      visibility: hidden;
    }
  }

  .spacer {
    flex: 1;
  }

  .link {
    margin: 0 5%;
  }
}
